
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/sidebar.css">
</head>

<div class="sidebar bg-dark text-white">
    <div class="logo d-flex justify-content-center py-4">
        <img src="../../static/img/sneakers.png" class="brand img-fluid" alt="logo">
    </div>
    
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="dashboard.html"><i class="bi bi-speedometer2 me-2"></i>Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="productmanage.html"><i class="bi bi-box me-2"></i>Product Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="OrderManage.html"><i class="bi bi-cart me-2"></i>Order Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="UserManage.html"><i class="bi bi-people me-2"></i>User Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="categorymanage.html"><i class="bi bi-tags me-2"></i>Category Management</a>
        </li>
    </ul>
</div>

<!-- Bootstrap JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>