<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/cart.css">
    <link rel="stylesheet" href="../../static/css/headerfooter.css">
    <script src="../../static/js/include.js"></script>
    <title>Cart</title>
</head>
<body>
    <div id="header-placeholder"></div>
        <!-- Include header here -->
    

    <div class="cart-container">
        <div class="cart-items-column">
            <div class="cart-item">
                <img src="../../static/img/AIR+FORCE+1+'07 (1).png" alt="Nike Air Force 1 '07" class="item-image">
                <div class="item-details">
                    <h2 class="item-title">Nike Air Force 1 '07</h2>
                    <p class="item-description">Men's Shoes</p>
                    <p class="item-color">White/White/Dragon Red</p>
                    <p class="item-size">Size: <span>40</span></p>
                    <div class="item-quantity">
                        <a href="#" class="remove-item">
                            <img src="../../static/img/bin.png" alt="Remove item" class="remove-icon">
                        </a>
                        <button class="decrease-quantity">-</button>
                        <span class="quantity">1</span>
                        <button class="increase-quantity">+</button>
                    </div>
                </div>
                <div class="item-price">2,591,199₫</div>
            </div>
            <div class="cart-item">
                <img src="../../static/img/AIR+FORCE+1+'07 (1).png" alt="Nike Air Force 1 '07" class="item-image">
                <div class="item-details">
                    <h2 class="item-title">Nike Air Force 1 '07</h2>
                    <p class="item-description">Men's Shoes</p>
                    <p class="item-color">White/White/Dragon Red</p>
                    <p class="item-size">Size: <span>40</span></p>
                    <div class="item-quantity">
                        <a href="#" class="remove-item">
                            <img src="../../static/img/bin.png" alt="Remove item" class="remove-icon">
                        </a>
                        <button class="decrease-quantity">-</button>
                        <span class="quantity">1</span>
                        <button class="increase-quantity">+</button>
                    </div>
                </div>
                <div class="item-price">2,591,199₫</div>
            </div>
        </div>

        

        <div class="summary">
            <h2>Summary</h2>
            <div class="summary-details">
                <p>1 item: <span class="item-price">2,591,199₫</span></p>
                <p>Total: <span class="total-price">2,841,199₫</span></p>
            </div>
            <button class="checkout-button">Checkout</button>
        </div>
    </div>
    <div id="checkout-message" class="checkout-message" style="display: none;">
        Checkout thành công!
    </div>
    <div id="footer-placeholder"></div>
    <script src="../../static/js/Cart.js"></script>
</body>
</html>
