<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="../../static/css/Product.css">
    <script src="../../static/js/include.js"></script>
    <title>Sneakers Store</title>
</head>

<body>
    <div id="header-placeholder"></div>

  
        <div class="container">
            <div class="product-image">
                <img src="../../static/img/AIR+FORCE+1+'07.png" alt="Product Image">
            </div>
            
            <div class="product-info">
                <div class="product-content">
                    <h1>Text Heading</h1>
                    <span class="tag">Tag</span>
                    <div class="price">$50</div>
                    
                    <div class="size-container">
                        <div class="size-header">
                            <span>Select Size</span>
                            <a href="#" class="size-guide">Size Guide</a>
                        </div>
                        <div class="size-grid">
                            <button class="size-btn">EU 40</button>
                            <button class="size-btn">EU 40.5</button>
                            <button class="size-btn">EU 41</button>
                            <button class="size-btn">EU 42</button>
                            <button class="size-btn">EU 42.5</button>
                            <button class="size-btn">EU 43</button>
                            <button class="size-btn">EU 44</button>
                            <button class="size-btn">EU 44.5</button>
                            <button class="size-btn">EU 45</button>
                            <button class="size-btn">EU 45.5</button>
                            <button class="size-btn">EU 46</button>
                            <button class="size-btn">EU 47</button>
                            <button class="size-btn">EU 47.5</button>
                        </div>
                    </div>
                    <button class="add-to-cart">Add to Cart</button>
                    
                    <div class="description-container">
                        <p>Comfortable, durable and timeless—it's number 1 for a reason. The '80s construction pairs with classic colours for style that tracks whether you're on court or on the go.</p>
                    </div>
                </div>
            </div>
        </div>

    <div id="footer-placeholder"></div>
   <script src="../../static/js/Product.js"></script>
</body>
</html>
