/* css của header và footer */
body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
  }
a {
    text-decoration: none;
  }
nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px; 
  width: 300px;
  height: 10px;
  border-radius: 10px;
}
.searchIcon {
    width: 20px;
    height: 20px;
    margin-right: auto;
}

.searchInput {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 20px;

  background-color: transparent;
}

.searchInput::placeholder {
  color: lightgray;
  font-size: 15px;
}

.limitedOffer {
  font-size: 20px;
.search {
    position: relative;
}

}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}
.menuItem:hover {
  color: white;
}
.SignUp, .SignIn {
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;
  color: lightgray;
  text-decoration: none;
}

.SignUp:hover, .SignIn:hover {
  color:white;
}
footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle {
  font-size: 16px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fInput {
  padding: 5px;
}

.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}

.fIcons{
  display: flex;
}

.fIcon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.copyright{
  font-weight: 300;
  font-size: 14px;
}
@media screen and (max-width:480px) {
  nav{
    padding: 20px;
  }

  .search{
    display: none;
  }

  .navBottom{
    flex-wrap: wrap;
  }

  .menuItem{
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }
  footer{
    flex-direction: column;
    align-items: center;
  }

  .footerLeft{
    padding: 20px;
    width: 90%;
  }

  .footerRight{
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }

  .payment{
    width: 90%;
    padding: 20px;
  }
}

.navItem {
    display: flex;
    align-items: center;
}

.cart-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}